@font-face {
  font-family: Kid;
  font-variant-ligatures: common-ligatures;
  font-weight: normal;
  font-style: normal;
  src: url("https://www.zhangxinghai.cn/assets/fonts/kiddySans/kiddySans.otf");
}

@font-face {
  font-family: Kid;
  font-variant-ligatures: common-ligatures;
  font-weight: normal;
  font-style: italic;
  src: url("https://www.zhangxinghai.cn/assets/fonts/kiddySans/kiddySans_italic.otf");
}

@font-face {
  font-family: Kid;
  font-variant-ligatures: common-ligatures;
  font-weight: bold;
  src: url("https://www.zhangxinghai.cn/assets/fonts/kiddySans/kiddySans_bold.otf");
}

@font-face {
  font-family: Kid;
  font-variant-ligatures: common-ligatures;
  font-weight: bold;
  font-style: italic;
  src: url("https://www.zhangxinghai.cn/assets/fonts/kiddySans/kiddySans_bold_italic.otf");
}

@font-face {
  font-family: Kid;
  font-variant-ligatures: common-ligatures;
  font-weight: bolder;
  src: url("https://www.zhangxinghai.cn/assets/fonts/kiddySans/kiddySans_fat.otf");
}

@font-face {
  font-family: Kid;
  font-variant-ligatures: common-ligatures;
  font-weight: bolder;
  font-style: italic;
  src: url("https://www.zhangxinghai.cn/assets/fonts/kiddySans/kiddySans_fat_italic.otf");
}

@font-face {
  font-family: Kid;
  font-variant-ligatures: common-ligatures;
  font-weight: lighter;
  src: url("https://www.zhangxinghai.cn/assets/fonts/kiddySans/kiddySans_light.otf");
}

@font-face {
  font-family: Kid;
  font-variant-ligatures: common-ligatures;
  font-weight: lighter;
  font-style: italic;
  src: url("https://www.zhangxinghai.cn/assets/fonts/kiddySans/kiddySans_light_italic.otf");
}
