@import "./font";

html {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  color: #456;
  font-size: 21px;
  line-height: 1.5;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

a {
  font-size: 1.2rem;
  line-height: 0;
  display: inline-block;
  color: rgb(120, 127, 109);
  text-decoration: none;

  &:hover,
  &:active,
  &:visited {
    color: rgb(93, 142, 19);
  }

  &:after {
    content: "";
    position: relative;
    top: -1px;
    height: 2px;
    width: 100%;
    background-color: #5fca4788;
    display: inline-block;
  }
}

.App {
  padding: 2rem 1rem;
  width: 768px;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 1rem 1rem;
  }
}

hr {
  border: 1px solid #af3c3c6e;
  border-top: none;
  width: 61.8%;
  margin: 2rem auto;
}

ul {
  list-style-type: lower-roman;
  padding: 0 1rem;
}


@import './rainbow';